---
interface CardAppareance {
  img: string;
  from: string;
  title: string;
  description: string;
  link: string;
}

const { img, from, title, description, link } = Astro.props as CardAppareance;
---

<a
  href={link}
  class="hover:scale-105 cursor-pointer transition-transform rounded-lg border bg-slate-900 border-slate-700
  min-h-96 w-full md:w-[50%] p-5"
>
  <div class="flex flex-col justify-center items-center">
    <img class="w-[70%] rounded-t-lg" src={img} />
    <h1 class="text-[clamp(1rem,5vw,2rem)] font-bold title">{title}</h1>
  </div>
  <h2 class="text-lg font-bold">{from}</h2>

  <p>{description}</p>
</a>
